.article-bg {
    overflow: hidden;
    background: radial-gradient(700px circle at 100% 60%,
            var(--primary-color-blue) 0%,
            var(--secondary-color-bg) 60%);
}

.article {
    &__title {
        color: var(--primary-color-white);
        margin-bottom: 24px;

        h2 {
            margin-bottom: 16px;
        }
    }

    &__content {
        @include position();
        gap: 16px;
    }

    &__cards {
        @include position();
        gap: 16px;
    }

    &__item {
        @include position($align: start);
        border: none;
        outline: none;
        border-radius: 40px;
        background-color: var(--primary-color-darkBlue);
        max-width: 395px;
    }

    &__image {
        width: 100%;
        border-radius: 40px 40px 0px 0px;
        position: relative;

        button {
            position: absolute;
            bottom: 0;
            left: 24px;
            transform: translateY(20px);
            padding: 8px 15px;
            max-width: 110px;
            color: var(--primary-color-white);
            font-weight: 500;
        }
    }

    &__info {
        @include position($align: start);
        gap: 40px;
        padding: 42px 24px 36px;
        color: var(--primary-color-white);
    }

    &__infoTitle {
        padding-bottom: 32px;
        border-bottom: 1px solid var(--secondary-color-grey);
        padding-right: 10px;

        h4 {
            margin-bottom: 16px;
        }
    }

    &__author {
        @include position($direction: row);
        gap: 15px;
    }

    &__viewBtn {
        width: 100%;
        padding: 22px 50px;
        color: var(--primary-color-white);
    }
}

@media (min-width: $sm) {
    .article {
        &__viewBtn {
            max-width: 395px;
        }
    }
}

@media (min-width: $md) {
    .article {
        &__title {
            @include position($direction: row, $justify: space-between);
            margin-bottom: 50px;

            p {
                max-width: 340px;
            }
        }

        &__content {
            gap: 40px;
        }

        &__cards {
            @include position($direction: row, $justify: space-between);
            width: 100%;
            gap: initial;
        }

        &__item {
            max-width: 300px;
        }
    }
}

@media (min-width: $lg) {
    .article {
        &__title {
            p {
                max-width: 460px;
            }
        }

        &__item {
            max-width: 360px;
        }
    }
}

@media (min-width: $xl) {
    .article {
        &__item {
            max-width: 380px;
        }
    }
}