.error-bg {
    overflow: hidden;
    background: radial-gradient(500px circle at 50% 50%,
            var(--primary-color-blue) 0%,
            var(--secondary-color-bg) 50%);

    section {
        margin-top: 120px;
        margin-bottom: 185px;
    }
}

.error {
    color: var(--primary-color-white);

    &__title {
        @include position();

        h1 {
            font-size: 120px;
            line-height: 120px;
            color: var(--primary-color-blue);
            margin-bottom: 32px;
        }
    }

    &__info {
        text-align: center;
        margin-bottom: 32px;

        h2 {
            margin-bottom: 16px;
        }
    }

    &__buttons {
        @include position();
        gap: 16px;

        button {
            width: 100%;
            color: var(--primary-color-white);
            padding: 22px 30px;
            max-width: 200px;
        }
    }
}

@media (min-width: $sm){
    .error-bg{
           overflow: hidden;
    background: radial-gradient(750px circle at 50% 50%,
            var(--primary-color-blue) 0%,
            var(--secondary-color-bg) 60%);

    section {
        margin-top: 120px;
        margin-bottom: 185px;
    }
    }
}

@media (min-width: $md) {
    .error-bg {
        section {
            margin-top: 200px;
            margin-bottom: 200px;
        }
    }

    .error {
        &__title {
            h1 {
                font-size: 180px;
                line-height: 160px;
                margin-bottom: 15px;
            }
        }

        &__info {
            margin-bottom: 40px;

            p {
                font-size: 18px;
                line-height: 32px;
            }
        }

        &__buttons {
            @include position($direction: row);
            gap: 24px;

            .blue-btn {
                max-width: 190px;
            }

            .grey-btn {
                max-width: 150px;
            }
        }
    }
}

@media (min-width: $lg){
      .error-bg{
           overflow: hidden;
    background: radial-gradient(1000px circle at 50% 50%,
            var(--primary-color-blue) 0%,
            var(--secondary-color-bg) 60%);
    }
}