.footer-bg {
    background-color: var(--primary-color-darkBlue);
}

.footer {
    @include position($align: start);
    color: var(--primary-color-white);
    padding: 40px 25px 65px 25px;

    &__logo {
        @include position();
        gap: 25px;
        margin-bottom: 45px;
        align-self: center;
    }

    &__socials {
        i {
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            font-size: 20px;
            padding: 5px;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: var(--primary-color-blue);
            }
        }

        a {
            &:nth-child(2) {
                margin-left: 25px;
                margin-right: 25px;
            }
        }
    }

    &__nav {
        @include position($align: start);
        gap: 55px;
    }

    &__menu {
        text-transform: uppercase;
        width: 100%;

        p:first-of-type {
            padding-bottom: 30px;
            border-bottom: 1px solid var(--primary-color-white);
            margin-bottom: 30px;
        }
    }

    &__listGroup {
        @include position($direction: row, $justify: space-between);
        margin-right: 100px;
    }

    &__list {
        li {
            transition: text-decoration 0.2s ease-in-out;

            &:hover {
                text-decoration: underline;
                text-underline-offset: 5px;
            }

            &:nth-child(2) {
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
    }

    &__card {
        @include position();
        padding: 45px 35px;
        background-color: var(--secondary-color-grey);
        border: none;
        outline: none;
        border-radius: 40px;
        gap: 20px;
    }

    &__cardTitle {
        p:first-of-type {
            max-width: 250px;
            margin-bottom: 20px;
        }
    }

    &__buttons {
        @include position();
        gap: 15px;

        button {
            @include position($direction: row);
            gap: 8px;
            color: var(--primary-color-white);
            max-width: 275px;
            padding: 18px 72px;

            i {
                font-size: 25px;
            }
        }
    }

    &__rights {
        text-align: center;
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        width: 100%;
    }
}

@media (min-width: $sm) {
    .footer {
        &__cardTitle {
            p:first-of-type {
                max-width: initial;
            }
        }
    }
}

@media (min-width: $md) {
    .footer {
        &__logo {
            @include position($direction: row, $justify: space-between);
            align-self: start;
            width: 100%;
            margin-bottom: 95px;
        }

        &__nav {
            @include position($direction: row, $justify: space-between);
            width: 100%;
        }

        &__menu {
            max-width: 280px;
        }

        &__listGroup {
            margin-right: 0px;
        }

        &__buttons {
            flex-direction: row;

            button {
                padding: 18px 32px;
            }
        }

        &__card {
            max-width: 510px;
        }

        &__rights {
            text-align: left;
            margin-top: 125px;
        }
    }
}