.header-bg {
    background-color: var(--secondary-color-bg);
}

.header {
    padding-bottom: 5px;
    padding-top: 5px;
    @include position($direction: row, $justify: space-between);

    &__nav {
        @include position($direction: row, $justify: space-between);
    }

    &__hamburger {
        @include position();
        cursor: pointer;
        z-index: 3;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background-color: var(--primary-color-blue);

        &--bar {
            display: block;
            background-color: var(--primary-color-white);
            border-radius: 3px;
            width: 25px;
            height: 2px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            &:nth-child(2) {
                margin: 7px auto;
            }
        }

        &.active {
            .header__hamburger--bar--top {
                transform: translateY(10px) rotate(45deg);
            }

            .header__hamburger--bar--middle {
                opacity: 0;
            }

            .header__hamburger--bar--bottom {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }

    &__nav {
        @include position($justify: start);
        position: fixed;
        background: radial-gradient(circle,
                var(--primary-color-blue),
                var(--secondary-color-bg) 80%);
        top: 55px;
        bottom: 0px;
        transform: translateX(100%);
        width: 100%;
        left: 0px;
        gap: 40px;
        padding-top: 95px;
        transition: transform 0.2s ease-in-out;
        border: none;
        outline: none;
        z-index: 2;

        &.active {
            transform: translateX(0);
            transition-duration: 0.4s;
        }
    }

    &__menu {
        @include position();
        gap: 40px;
        color: var(--primary-color-white);

        li {
            font-size: 32px;
            font-weight: 500;

            a {
                transition: text-decoration 0.2s ease-in-out;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 8px;
                }
            }
        }
    }

    button {
        color: var(--primary-color-white);
        max-width: 300px;
        padding: 28px 85px;
        line-height: 16px;
    }
}

.no-scroll {
    overflow: hidden;
}

@media (min-width: $sm) {
    .header {
        &__nav {
            background: radial-gradient(450px circle,
                    var(--primary-color-blue),
                    var(--secondary-color-bg) 70%);
        }
    }
}

@media (min-width: $md) {
    .header {
        &__nav {
            background: radial-gradient(500px circle,
                    var(--primary-color-blue),
                    var(--secondary-color-bg) 70%);
        }
    }
}

@media (min-width: $lg) {
    .header {
        gap: 65px;
        padding-top: 40px;
        padding-bottom: 40px;

        &__hamburger {
            display: none;
        }

        &__nav {
            position: static;
            transform: none;
            transition: none;
            @include position($direction: row, $justify: space-between);
            padding-top: 0px;
            background: transparent;

            button {
                max-width: 210px;
                padding: 20px 40px;
            }
        }

        &__menu {
            @include position($direction: row);
            gap: 30px;

            li {
                font-size: 16px;
                line-height: 16px;
            }
        }
    }
}